<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        table th, table td {padding: 5px;}
    </style>
</head>
<body>
<div>
    <p>CARS</p>
    <table border="1">
        <tr>
            <th>COMPANY</th>
            <th>MODEL</th>
            <th>POWER</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.company}"></td>
            <td th:text="${car.nameOfModel}"></td>
            <td th:text="${car.power}"></td>
        </tr>
    </table>
</div>
</body>
</html>